html {
  /* background-color: #ecf0f5; */
  background-image: url('/assets/imgs/backgroundLogin2.jpg');
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: transparent !important;
}

.main-footer {
  position: fixed;
  bottom:0px;
  width:100%;
}

.wrapper {
 background-color: transparent !important;
}

.content-wrapper {
  background-color: transparent !important;
}

.content-header {
  background-color:rgba(255,255,255,0.93) !important;
  padding-bottom: 5px;
}

.right-side {
  background-color: transparent !important;
}

.skin-black {
  background-color: transparent !important;
 }

.left-side {
  background-color: transparent !important;
}

 .main-sidebar{
  background-color: rgba(5, 18, 37, 0.963) !important;
 }

.right-side{
  background-color: transparent !important;
}

body {
  background-color: transparent !important;
}

#toast-container {
  top: 70px;
}

.spinner{
  width: 80px;
  height: 80px;
  
  border: 2px solid #f3f3f3;
  border-top:3px solid #053e80;
  border-radius: 100%;
  
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}
