<div class="login-box" ng-controller="AuthCtrl as auth" style="
border-radius: 20px 20px 0px 0px; border-style: solid; color:black; background-color:white; padding-top:10px;">
    <div class="login-logo">
        <i class="fa fa-stethoscope text-red"></i>
        <b> Digital Prontuário</b>
    </div>
    <div class="login-box-body" style="background-color:rgb(250, 250, 250);" ng-if="!auth.assist">
        <p class="login-box-msg" style="font-size: 22px; color:black;">
            <b>Bem Vindo!</b>
        </p>
        <div class="box box-solid box-header with-border" ng-hide="auth.loginMode">
            <table>
                <tr>
                    <td>
                        <img src="/assets/imgs/imgDoctor.png" style="width:48px; height:48px" />
                    </td>
                    <td style="padding-top: 15px;padding-right: 15px;padding-bottom: 15px; padding-left: 15px;">
                        <b> Informe seus dados pessoais no formulário abaixo para realizar seu cadastro..</b>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box box-solid box-header with-border" ng-hide="!auth.loginMode">
            <table>
                <tr>
                    <td style="padding-left:12px;">
                        <h1>
                            <i class="fa fa-expeditedssl text-red">
                        </h1>
                    </td>
                    <td style="padding-top: 15px;padding-right: 15px;padding-bottom: 15px; padding-left: 15px;">
                        <b> Esta área é de acesso restrito.</b>
                    </td>
                </tr>
            </table>
        </div>
        <div class="login-box-msg box-header with-border">
            <form name="newUser">
                <auth-field id="authNome" class-d="text-uppercase" model="auth.user.nome" type="input" placeholder="INFORME O NOME" hide="auth.loginMode"></auth-field>
                <auth-field id="authSobrenome" class-d="text-uppercase" model="auth.user.sobrenome" type="input" placeholder="INFORME O SOBRENOME"
                    hide="auth.loginMode"></auth-field>
                <div class="form-group" ng-class="{'has-error': newUser.email.$error.pattern }">
                    <input ng-model="auth.user.email" name="email" id="authEmail" class="form-control" type="email" placeholder="INFORME O E-MAIL"
                        ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required />
                    <span class="help-block" ng-show="newUser.email.$error.pattern">E-mail Inválido!</span>
                </div>
                <auth-field id="authPass" model="auth.user.password" type="password" placeholder="INFORME A SENHA"></auth-field>
                <auth-field id="authConfirmPass" model="auth.user.confirm_password" type="password" placeholder="CONFIRME A SENHA" hide="auth.loginMode">
                    <span class="help-block" ng-show="newUser.authPass.value != authConfirmPass.authPass.value"> </span>
                </auth-field>

                <div class="form-group" ng-class="{'has-error': newUser.crm.$error.pattern }">
                    <!-- <label class="control-label" style="text-align:left;" ng-show="newUser.crm.$error.pattern" for="inputError"><i class="fa fa-times-circle-o"></i> Informação inválida.</label> -->
                    <input ng-model="auth.user.crm" ng-change="auth.errorForm()" name="crm" ng-pattern="/^[0-9]{1,5}$/" required mask="99999"
                        id="authCrm" class="form-control" type="input" placeholder="INFORME O CRM" ng-hide="auth.loginMode" />
                    <span class="help-block" ng-show="newUser.crm.$error.pattern">CRM Inválido!</span>
                </div>
                <div class="form-group" ng-class="{'has-error': newUser.cep.$error.pattern }">
                    <input ng-model="auth.user.cep" name="cep" ng-pattern="/^[0-9]{5}-[0-9]{3}$/" mask="99999-999" id="authCep" class="form-control"
                        type="input" placeholder="INFORME O CEP" ng-hide="auth.loginMode" />
                    <span class="help-block" ng-show="newUser.cep.$error.pattern">CEP Inválido!</span>
                </div>
                <div class="form-group" ng-class="{'has-error': newUser.tel.$error.pattern }">
                    <input ng-model="auth.user.celular" name="tel" ng-pattern="/^\([1-9]{2}\) [0-9]{5}-[0-9]{4}$/" mask="(99) 99999-9999"
                        id="authCelular" class="form-control" type="input" placeholder="INFORME O CELULAR" ng-hide="auth.loginMode"
                    />
                    <span class="help-block" ng-show="newUser.tel.$error.pattern">Celular Inválido!</span>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block btn-flat" ng-click="auth.login()" ng-show="auth.loginMode" style="width:90px;">
                            <b>Entrar</b>
                        </button>
                        <button ng-show="!newUser.cep.$error.pattern && !newUser.crm.$error.pattern && !newUser.tel.$error.pattern && !newUser.email.$error.pattern && !auth.loginMode"
                            class="btn btn-primary btn-block btn-flat" ng-click="auth.signup()" ng-hide="auth.loginMode" style="width:90px;">
                            <b>Registrar</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div style="text-align:center;">
            <img src="/assets/imgs/imgDoctor.png" style="width:24px; height:24px;" ng-hide="!auth.loginMode" />
            <i class="fa fa-expeditedssl text-red" style="font-size:24px;" ng-hide="auth.loginMode"></i>
            <a href="javascript:;" ng-click="auth.changeMode()">
                {{ auth.loginMode ? 'Novo usuário? Registre-se aqui!' : 'Já é cadastrado? Retorne aqui!' }}
            </a>
        </div>
        <hr>
        <div style="text-align:center;">
            <img src="/assets/imgs/secretary2.png" style="width:24px; height:24px;" />
            <a href="javascript:;" ng-click="auth.changeModeAssist()">
                {{ auth.assist ? 'Retornar ao Acesso de Usuário!' : 'Acesso de Assistente!' }} </a>
        </div>

    </div>
    <div class="login-box-body" ng-if="auth.assist" style="background-color:rgb(250, 250, 250);">
        <p class="login-box-msg" style="font-size: 22px; color:black;">
            <b>Bem Vindo!</b>
        </p>
        <div class="box box-solid box-header with-border">
            <table>
                <tr>
                    <td>
                        <img src="/assets/imgs/secretary2.png" style="width:48px; height:48px" />
                    </td>
                    <td style="padding-top: 15px;padding-right: 15px;padding-bottom: 15px; padding-left: 15px;">
                        <b> Assistente, por favor informe seu e-mail e senha abaixo para realização do login.</b>
                    </td>
                </tr>
            </table>
        </div>
        <div class="login-box-msg box-header with-border">
            <form>

                <div class="form-group has-feedback">
                    <input ng-model="auth.user.crm" id="authCRM" class="form-control" type="text" placeholder="Informe o CRM do Médico Responsável."
                        mask="99999" required />
                </div>
                <div class="form-group has-feedback">
                    <input ng-model="auth.user.emailAssist" id="authEmailAssist" class="form-control" type="email" placeholder="Informe o E-mail"
                    />
                </div>
                <auth-field id="authPassAssist" model="auth.user.passAssist" type="password" placeholder="Informe a Senha"></auth-field>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block btn-flat" ng-click="auth.loginAssist()" style="width:90px;">
                            <b>Entrar</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr ng-hide="!auth.assist">
        <div style="text-align:center;">
            <p>
                <img src="/assets/imgs/imgDoctor2.png" style="width:24px; height:24px;" />
                <a href="javascript:;" ng-click="auth.changeModeAssist()">
                    {{ auth.assist ? 'Retornar ao Acesso Convencional.' : 'Acesso de Assistente Aqui!' }} </a>
            </p>
        </div>
    </div>

</div>

<style>
    html,
    .wrapper {
        background-color: #fff!important;
    }

    .login-box-body {
        background-color: rgb(241, 241, 241);
    }

    .has-error {
        position: relative;
    }

    .login-box-msg, .register-box-msg{
        text-align:left !important; 
    }

  .form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    box-shadow: inset 0 0 1em rgb(255, 144, 110), 0 0 1em red;
    }
</style>