<div role="form">
    <div class="box-body">
        <form>
            <div role="form">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-street-view text-info"></i> Informações
                            <small> - Paciente</small>
                        </h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:20%;">Nome </th>
                                <th style="width:40%;">Sobrenome</th>
                                <th style="width:10%;">Idade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{:: paciente.nome }}</td>
                                <td>{{:: paciente.sobrenome }}</td>
                                <td>{{:: paciente.idade }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-file-text text-aqua"></i> Ficha
                            <small> - Atendimento</small>
                        </h3>
                        <hr>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Queixa</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.queixa" style="width:100%; height:80px;" index="1" name="consultaQueixa" id="consultaQueixa"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('queixa')" index="20">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Anamnese</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.anamnese" style="width:100%; height:80px;" index="2" name="consultaAnamnese" id="consultaAnamnese"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('anamnese')" index="21">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Antecedente</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.antecedente" style="width:100%; height:50px;" index="3" name="consultaAntecedente" id="consultaAntecedente"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('antecedente')" index="22">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Alergia</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.alergia" style="width:100%; height:50px;" index="4" name="consultaAlergia" id="consultaAlergia"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('alergia')" index="23">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Histórico Familiar</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.historicoFamiliar" style="width:100%; height:50px;" index="5" name="consultaHistoricoFamiliar"
                                                    id="consultaHistoricoFamiliar" class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('historicoFamiliar')" index="24">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Exame Físico</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.exameFisico" style="width:100%; height:50px;" index="6" name="consultaExameFisico" id="consultaExameFisico"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('exameFisico')" index="25">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Exame Complementar</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.exameCompl" style="width:100%; height:50px;" index="7" name="consultaExameCompl" id="consultaExameCompl"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('exameCompl')" index="26">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Conduta</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.conduta" style="width:100%; height:50px;" index="8" name="consultaConduta" id="consultaConduta"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('conduta')" index="27">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Receita</label>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:95%; text-align:Baseline;">
                                            <div class="input-group" style="width:100%;">
                                                <textarea ng-model="consulta.receitaMedica" style="width:100%; height:50px;" index="9" name="consultaReceitaMedica" id="consultaReceitaMedica"
                                                    class="form-control text-uppercase"></textarea>
                                            </div>
                                        </td>
                                        <td style="width:5%; vertical-align:bottom; padding-left:5px;">
                                            <button class="btn btn-danger" style="padding:5px;" ng-click="limpar('receitaMedica')" index="28">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="box-footer">
            <button class="btn btn-info" ng-click="editFormConsulta(paciente, index, consulta)" ng-if="tabFormConsultaAlterar">
                <i class="fa fa-pencil"></i>Alterar</button>
            <button class="btn bg-maroon" ng-click="editFormConsultaDpl(paciente, index, consulta)" ng-if="tabFormConsultaDpl">
                <i class="fa fa-copy"></i> Duplicar Dados da Consulta</button>                
            <button class="btn btn-default" ng-click="cancelConsulta(paciente)" index="12">
                <i class="fa fa-remove text-red"></i> Cancelar</button>
        </div>
    </div>