<content-header txt-pos-ico=" " icoimgs-p="fa fa-address-book-o text-blue" name="Paciente" small="Cadastro" titulo-location="Paciente"></content-header>
<section class="content">
    <div class="nav-tabs-custom" ng-controller="PacienteCtrl" style="opacity: 0.92;">
        <ul class="nav nav-tabs">
            <li ng-if="tabList" ng-class="{active: tablist}">
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars"></i> Lista
                </a>
            </li>
            <li ng-if="tabCreate">
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir

                </a>
            </li>
            <li ng-if="tabUpdate" ng-class="{active: tabUpdate}">
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Alterar
                </a>
            </li>
            <li ng-if="tabConsulta" ng-class="{active: tabConsulta}">
                <a href data-target="#tabConsulta" data-toggle="tab">
                    <i class="fa fa-book"></i> Consultas
                </a>
            </li>
            <li ng-if="tabFormConsulta" ng-class="{active: tabFormConsulta}">
                <a href data-target="#tabFormConsulta" data-toggle="tab">
                    <i class="fa fa-file-text"></i> Prontuário
                </a>
            </li>
            <li ng-if="tabFormConsultaAlterar" ng-class="{active: tabFormConsultaAlterar}">
                <a href data-target="#tabFormConsultaAlterar" data-toggle="tab">
                    <i class="fa fa-file-text"></i> Prontuário
                </a>
            </li>
            <li ng-if="tabConsultaDetail" ng-class="{active: tabConsultaDetail}">
                <a href data-target="#tabConsultaDetail" data-toggle="tab">
                    <i class="fa fa-file-powerpoint-o"></i> Prontuário
                </a>
            </li>
            <li ng-if="tabFormConsultaDpl" ng-class="{active: tabFormConsultaDpl}">
                <a href data-target="#tabConsultaDetail" data-toggle="tab">
                    <i class="fa fa fa-file-text"></i> Prontuário
                </a>
            </li>
            <li ng-if="tabPacienteFila" ng-class="{active: tabPacienteFila}">
                <a href data-target="#tabPacienteFila" data-toggle="tab">
                    <i class="fa fa fa-list-ol"></i> Fila Paciente
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tabList" ng-if="tabList" ng-disabled="{{ vencido }}" ng-class="{active: tabList}" ng-include="'pacientes/list.html'"></div>
            <div class="tab-pane" id="tabCreate" ng-if="tabCreate" ng-include="'pacientes/form.html'"></div>
            <div class="tab-pane" id="tabUpdate" ng-if="tabUpdate" ng-class="{active: tabUpdate}" ng-include="'pacientes/form.html'"></div>
            <div class="tab-pane" id="tabConsulta" ng-if="tabConsulta" ng-class="{active: tabConsulta}" ng-include="'pacientes/consulta.html'"></div>
            <div class="tab-pane" id="tabFormConsulta" ng-if="tabFormConsulta" ng-class="{active: tabFormConsulta}" ng-include="'pacientes/formConsulta.html'"></div>
            <div class="tab-pane" id="tabFormConsultaAlterar" ng-if="tabFormConsultaAlterar" ng-class="{active: tabFormConsultaAlterar}"
                ng-include="'pacientes/formConsultaEd.html'"></div>
            <div class="tab-pane" id="tabConsultaDetail" ng-if="tabConsultaDetail" ng-class="{active: tabConsultaDetail}" ng-include="'pacientes/consultaDetail.html'"></div>
            <div class="tab-pane" id="tabFormConsultaDpl" ng-if="tabFormConsultaDpl" ng-class="{active: tabFormConsultaDpl}" ng-include="'pacientes/formConsultaEd.html'"></div>
            <div class="tab-pane" id="tabPacienteFila" ng-if="tabPacienteFila" ng-class="{active: tabPacienteFila}" ng-include="'pacientes/formFila.html'"></div>
        </div>
</section>