<a href="/#!/welcome" class="logo" style="background-color: white;">
  <span class="logo-mini">
      <b><i class='fa fa-stethoscope' style="color:red; font-size:26px;"></i></b>
  </span>
  <span class="logo-lg" style="color: black;">
      <!--img src="/assets/imgs/logo.jpg" class="img-responsive"-->
      <b><i class='fa fa-stethoscope' style="color:red; font-size:26px;"></i></b>
      Digital Prontuário
  </span>
</a>

<nav class="navbar navbar-static-top" style="background-color: white;" ng-include="'/template/header/navbar/navbar.html'"></nav>