<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credit in billingCycle.credits">
        <td>
          <input ng-model="credit.name" class="form-control" placeholder="Informe o Nome" ng-readonly="tabDelete"
          />
        </td>
        <td>
          <input ng-model="credit.value" class="form-control" placeholder="Informe a Valor" ng-readonly="tabDelete"
            ng-change="calculateValues()" type="number" />
        </td>
        <td style="width:70px;" ng-if="!tabDelete">
          <!-- <button class="btn btn-warning" style="padding: 7px;" ng-click="cloneCredit($index,credit)"><i class="fa fa-clone"></i></button> -->
          <span style="padding-top:3px;">
            <button class="btn btn-success" style="width: 20px; height:34px; padding:2px;" ng-click="addCredit($index)">
              <i class="fa fa-plus" ></i>
            </button>
            <button class="btn btn-danger" style="width: 20px; height:34px; padding:2px; " ng-click="deleteCredit($index)">
              <i class="fa fa-trash-o" ></i>
            </button>
          </span>
        </td>
        <td style="width:70px;" ng-if="tabDelete">
          <div style="vertical-align: middle;">
            <button class="btn btn-success disabled" style="width: 7px; padding-left:5px; ">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-danger disabled" style="width: 7px; padding-left:5px; ">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>